<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUB</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="col1">
        </div>
        <div class="col2">
            <h1 id="titulo">HUB</h1>
        </div>
        <div class="col3">
            <button id="secret">Extras</button>
            <form method="post">
                <button type="submit">Inicar jogo</button>
            </form>
        </div>
    </header>
    <main>
        <div class="secundario">
        </div>
        <div class="principal">
            
        </div>
    </main>
    <script src="../static/script.js"></script>
</body>
</html>